<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.msoe.smv.raspirelay"
          android:versionCode="1"
          android:versionName="1.0"
          android:screenOrientation="portrait">
    <uses-sdk android:minSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:allowBackup="true">
        <activity android:name="HeadsUpDisplay"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".LapTimesActivity" android:label="LapTimesActivity" android:parentActivityName=".HeadsUpDisplay"/>
        <service android:name=".VehicleConnectionService" />
    </application>
</manifest>
